.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.shopqrcode{
  display: flex;
  justify-content: center;
  border: 2px dotted black;
  margin: 20px;
  border-radius: 10px;
  width: 50vw;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px){
  .shopqrcode{
    width: 70vw;
  }
}
.purchaseParent{
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: space-around;
}

.purchaseParent .bookqr{
  
}
.purchaseParent .shopqr{
  
}

.buyrequest{
  border: 1px solid black;
}

.filedragndrop{
  display: flex;
  justify-content: center;
  gap:20px;
  margin-top: 5%;
  align-items: center;
  flex-direction: column;
  max-width: fit-content;
}

.filedragndropwrapper{
  display: flex;
  justify-content: center;
}